.menu_backgraund {
  height: 100vh;
  width: 200px;
  background-color: darkblue; /*일단 임의로 지정*/
}
.logo {
  text-align: center;
  background-color: darkgoldenrod;
  height: 80px;
  line-height: 80px;
}
.logo a {
  color: black;
  display: block;
}
.Intro {
  width: 160px;
  height: 50px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.Activity {
  width: 160px;
  height: 50px;
  margin-left: 30px;
  margin-top: 8px;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.Account {
  width: 160px;
  height: 50px;
  margin-left: 30px;
  margin-top: 8px;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.Account_github a {
  margin-left: 58px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  opacity: 0.5;
}
.Account_slack a {
  margin-left: 56px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  opacity: 0.5;
}

.Activity_online a {
  margin-left: 58px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  opacity: 0.5;
}
.Activity_offline a {
  margin-left: 56px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  opacity: 0.5;
}

.Intro_group2 a {
  margin-left: 54px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  opacity: 0.5;
}
.Intro_people a {
  margin-left: 50px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  opacity: 0.5;
}
