.about-wrap {
  position: relative;
  background-color: #21395b;
}

/* ABOUT IMAGES */
.images-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.images-wrap img {
  width: 90%;
  height: 100vh;
  padding: 70px;
  box-sizing: border-box;
}
.images-wrap img:last-child {
  margin-bottom: 100px;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #0e2038;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer .copyright {
  text-align: center;
  line-height: 100px;
  height: 100px;
  color: rgba(216, 215, 215, 0.596);
}
