@import url(https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
@font-face {
  font-family: "EliceDigitalBaeum_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fff;
  color: #333333;
  font-family: "EliceDigitalBaeum_Bold";
}

.weight-900 {
  font-weight: 900;
}

.weight-900 {
  font-weight: 900;
}

/* HEADER */
header {
  height: 100%;
  width: 200px;
  padding: 25px;
  box-sizing: border-box;
  background-color: #21395b; /*일단 임의로 지정*/
  position: fixed; /* position: fixed 정의 */
  transition: 0.4s ease; /* transition 0.4초 */
}

header:hover {
  background-color: #0e2038; /* header hover시 색상 변경 */
}

.logo {
  width: 150px;
  margin: 25px auto;
}

.logo a {
  display: block;
}

header:hover .menu-wrap {
  opacity: 1;
}

.menu-wrap {
  padding: 30px 15px;
  background-color: rgba(30, 102, 143, 0.871);
  border-radius: 15px;
  opacity: 0.6;
  height: 100%;
}

.nav-list {
  text-align: center;
  height: 40px;
  margin: 0 auto;
  font-size: 23px;
  font-weight: bold;
  margin-top: 25px;
  color: white;
  opacity: 0.5;
}

.nav-list:nth-of-type(1) {
  margin-top: 0;
}

.sub-list {
  text-align: center;
}

.sub-list a {
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  opacity: 0.5;
}

.sub-list a:hover {
  opacity: 1; /* sub-list hover시 opacity:1 */
}

.active,
.sub-list .active {
  opacity: 1; /* about page에서는 opacity:1 */
}

.sub-list.login {
  margin-top: 50px;
  text-align: center;
}
.sub-list.login a {
  color: #fff;
  opacity: 0.9;
  text-transform: uppercase;
}

.link-icon {
  font-size: 2em;
}

#account-list {
  display: flex;
  justify-content: space-evenly;
}
