main {
  position: relative;
}
.main-background {
  height: 100vh;
  overflow: hidden;
  /* background: radial-gradient(circle, rgb(9, 136, 214) 0%, #213a5c 100%); */
  background: radial-gradient(
    #1d89e4,
    #0e47a1,
    #82b1ff,
    #1665c1,
    #2196f3,
    #1665c1,
    #82b1ff,
    #0e47a1,
    #1d89e4
  );
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 600% 400%;
  animation: bg 30s infinite;
  animation-timing-function: ease-in-out;
}
@keyframes bg {
  0% {
    background-position: 20% 100%;
  }
  50% {
    background-position: 80% 100%;
  }
  100% {
    background-position: 20% 100%;
  }
}
.main-background .main-container {
  width: 600px;
  text-align: center;
  margin-top: 150px;
}
.main-background .main-container .logo {
  display: block;
  margin: 0 auto;
  outline: none;
  margin-bottom: 50px;
}
.main-background .main-container #united {
  padding: 20px 0;
  letter-spacing: 0;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;

  text-transform: uppercase;
}
.main-background .main-container .title span {
  color: #fff;
}
.main-background .main-container p {
  /* 내용 길이에 맞춰서 폰트수정 */
  color: #fff;
  margin-bottom: 100px;
}

/* ICON BTN */
.main-background .main-container .btn-group {
  width: 400px;
  height: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-background .main-container .btn-group .btn {
  display: block;
  width: 80px;
  outline: none;
  height: 80px;
  line-height: 80px;
  background-color: #fff;
  color: #213a5c;
  border-radius: 10px;
  transition: 0.4s;
  text-transform: uppercase;
  position: relative;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
}
.main-background .main-container .btn-group .btn a {
  color: #fff;
}

.main-background .main-container .btn-group .btn span {
  position: absolute;
  display: block;
  bottom: -40px;
  font-size: 0.7rem;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #213a5c;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  font-weight: 600;
  transform: translateY(-20px);
}

.main-background .main-container .btn-group .btn span::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #213a5c;
  position: absolute;
  top: -5px;
  transform: rotate(45deg);
}
.main-background .main-container .btn-group .btn:nth-of-type(1)::before {
  content: "\e88e";
  font-family: "Material Icons";
  font-size: 2rem;
}
.main-background .main-container .btn-group .btn:nth-of-type(2)::before {
  content: "\e87c";
  font-family: "Material Icons";
  font-size: 2rem;
}
.main-background .main-container .btn-group .btn:nth-of-type(3)::before {
  content: "\ea77";
  font-family: "Material Icons";
  font-size: 2rem;
}
.main-background .main-container .btn-group .btn:hover {
  background-color: #fff;
  color: #213a5c;
  transform: scale(1.1);
}
.main-background .main-container .btn-group .btn:hover span {
  visibility: visible;
  opacity: 1;
  color: #fff;
  transform: translateY(0px);
}

/* COPYRIGHT */
footer .copyright {
  position: absolute;
  bottom: 45px;
  right: 45px;
  color: #fff;
}
.custom-shape-divider-top-1637585068 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1637585068 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1637585068 .shape-fill {
  fill: #ffffff;
}

/* wave effect */
#wavebox {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}
.wave {
  opacity: 0.4;
  position: absolute;
  top: -195vw;
  width: 200vw;
  height: 200vw;
  border-radius: 48%;
  background-color: #fff;
}
.wave.first {
  left: -30vw;
  animation: drift 10s infinite linear;
}
.wave.second {
  left: -50vw;
  animation: drift 15s infinite linear;
}
.wave.third {
  left: -70vw;
  animation: drift 8s infinite linear;
  opacity: 0.1;
  background: yellow;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
