@font-face {
  font-family: "EliceDigitalBaeum_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "EliceDigitalBaeum_Bold";
  background-color: skyblue;
}
.wrap-activities-offline {
  margin: 0 auto;
  width: 1300px;
  height: 700px;
  background-color: #fff;
  border-radius: 30px;
}
.offline1 {
  margin: 0 auto;
}

h1 {
  height: 150px;
  text-align: center;
  color: midnightblue;
  font-size: 60px;
  line-height: 150px;
  text-shadow: 5px 5px 5px #fff;
}

h2 {
  text-align: left;
  text-indent: 30px;
  color: midnightblue;
  font-size: 30px;
  line-height: 100px;
}

p {
  text-align: center;
}

.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}
.scale:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  box-shadow: 5px 5px 5px #ccc;
}

.wrap-activities-offline img {
  width: 320px;
  height: 180px;
  border-radius: 30px;
}

.offline-img {
  width: 320px;
  height: 180px;
  border-radius: 30px;
  overflow: hidden;
}

.offline-1st {
  display: flex;
  justify-content: space-around;
}
