@font-face {
  font-family: "EliceDigitalBaeum_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-shadow: border-box;
}
body {
  font-family: "EliceDigitalBaeum_Bold";
  background-color: #213a5c;
}
.online-wrap {
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle, rgba(163, 181, 192, 1) 0%, #213a5c 100%);
}
.online-contents-wrap {
  width: calc(100% - 200px);
  float: right;
  margin-bottom: 100px;
}
.online-contents-wrap .online-contents {
  width: 1500px;
  background: linear-gradient(45deg, #b5c7d8, #eee, #b5c7d8);
  border-radius: 20px;
  margin: 60px auto;
  padding: 20px 0;
}

/*online css*/
.wrap-activities {
  width: calc(100% - 200px);
  float: left;
}

.wrap-activities-online {
  margin: 0 auto;
  width: 1400px;
  height: 700px;
  background-color: #fff;
  border-radius: 30px;
}

h1 {
  height: 150px;
  text-align: center;
  color: #213a5c;
  font-size: 60px;
  /* line-height: 150px; */
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgbA(33, 58, 92, 0.5);
}
h2 {
  text-align: left;
  text-indent: 50px;
  color: midnightblue;
  font-size: 40px;
  line-height: 80px;
}

table {
  width: 600px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px rgba(200, 200, 200, 1);
}
thead tr {
  border: none;
}
tr {
  border-bottom: 1px solid lightgray;
}
tr:last-child {
  border-bottom: none;
}
td {
  padding: 20px;
  font-style: bold;
  font-size: 1.3em;
}
td p {
  font-size: 0.9em;
}
th {
  background-color: #213a5c;
  box-shadow: 0px 0px 10px #213a5c;
  color: white;
  font-size: 20px;
}

.table-list a {
  text-decoration: none;
  color: black;
}
.days {
  vertical-align: middle;
  text-align: center;
}
.list {
  width: 50%;
  padding: 50px 0;
  box-sizing: border-box;
}
.table-list {
  margin: 0 auto;
}

.Online {
  color: blue;
  text-indent: 20px;
}
caption {
  font-size: 23px;
  margin: 10px 0;
}
caption a {
  color: #213a5c;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}
caption a img {
  width: 50px;
  display: block;
}
.wrap-table {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10em;
}

/* FOOTER */
footer {
  width: 100%;
  height: 100px;
  background-color: #0e2038;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer .copyright {
  text-align: center;
  line-height: 100px;
  height: 100px;
  color: rgba(216, 215, 215, 0.596);
}
