@font-face {
  font-family: "EliceDigitalBaeum_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-shadow: border-box;
}
body {
  font-family: "EliceDigitalBaeum_Bold";
  background-color: #213a5c;
}
.online-wrap {
  position: relative;
  overflow: hidden;
}
.online-contents-wrap {
  width: calc(100% - 200px);
  float: right;
  margin-bottom: 100px;
}
.online-contents-wrap .online-contents {
  width: 1500px;
  background-color: #b5c7d8;
  border-radius: 20px;
  margin: 60px auto;
}

/* HEADER */
header {
  height: 100%;
  width: 200px;
  padding: 25px;
  box-sizing: border-box;
  background-color: #21395b; /*일단 임의로 지정*/
  position: fixed; /* position: fixed 정의 */
  transition: 0.4s ease; /* transition 0.4초 */
}

header:hover {
  background-color: #0e2038; /* header hover시 색상 변경 */
}

.logo {
  width: 150px;
  margin: 25px auto;
}

.logo a {
  display: block;
}

header:hover .menu-wrap {
  opacity: 1;
}

.menu-wrap {
  padding: 30px 15px;
  background-color: rgba(30, 102, 143, 0.871);
  border-radius: 15px;
  opacity: 0.6;
  height: 100%;
}

.nav-list {
  height: 40px;
  margin: 0 auto;
  font-size: 23px;
  font-weight: bold;
  margin-top: 25px;
  color: white;
  opacity: 0.5;
}

.nav-list:nth-of-type(1) {
  margin-top: 0;
}

.sub-list a {
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  opacity: 0.5;
}

.sub-list a:hover {
  opacity: 1; /* sub-list hover시 opacity:1 */
}

.active,
.sub-list .active {
  opacity: 1; /* about page에서는 opacity:1 */
}

.sub-list.login {
  margin-top: 50px;
  text-align: center;
  text-shadow: white 10px 10px 10px;
}
.sub-list.login a {
  color: #fff;
  opacity: 0.9;
  text-transform: uppercase;
}

/*online css*/
.wrap-activities {
  width: calc(100% - 200px);
  float: left;
}

.wrap-activities-online {
  margin: 0 auto;
  width: 1400px;
  height: 700px;
  background-color: #fff;
  border-radius: 30px;
}

h1 {
  height: 150px;
  text-align: center;
  color: midnightblue;
  font-size: 60px;
  line-height: 150px;
  text-shadow: 5px 5px 5px #fff;
}
h2 {
  text-align: left;
  text-indent: 50px;
  color: midnightblue;
  font-size: 40px;
  line-height: 80px;
}

table {
  width: 600px;
  border: 1px solid;
  line-height: 40px;
}

tr {
  border: 2px solid;
}
td {
  padding: 20px;
  font-style: bold;
  font-size: 1.3em;
}
td p {
  font-size: 0.9em;
}
th {
  background-color: #213a5c;
  color: white;
  font-size: 20px;
}
.table-list a {
  text-decoration: none;
  color: black;
}
.days {
  vertical-align: middle;
  text-align: center;
}
.list {
  width: 50%;
  padding: 50px 0;
  box-sizing: border-box;
}
.table-list {
  margin: 0 auto;
}

.Online {
  color: blue;
  text-indent: 20px;
}
caption {
  font-size: 23px;
  margin: 10px 0;
}
caption a {
  color: #213a5c;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}
caption a img {
  width: 50px;
  display: block;
}
.wrap-table {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10em;
}

/* FOOTER */
footer {
  width: 100%;
  height: 100px;
  background-color: #0e2038;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer .copyright {
  text-align: center;
  line-height: 100px;
  height: 100px;
  color: rgba(216, 215, 215, 0.596);
}
