.signin-wrap {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(#a3b5c0 35%, #dad5cf); */
  background: radial-gradient(circle, rgba(163, 181, 192, 1) 0%, #213a5c 100%);
  position: relative;
}
.logo {
  position: absolute;
  top: 15px;
  left: 85px;
  transform: scale(1.2) rotate(90deg);
}

.signin-container {
  width: 460px;
  position: relative;
}

.signin-container .card {
  background-color: #fff;
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  transition: 0.3s ease;
}

.signin-container .card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}

.signin-container .card form .form-title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #213a5c;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: #213a5c;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.signin-container .card form .form-menu li {
  position: relative;
  margin: 0 60px 50px;
}

.signin-container .card form .form-menu input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
  padding: 0 5px;
}

.signin-container .card form .form-menu li label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease;
}

.signin-container .card form .form-menu li input:focus ~ label,
.signin-container .card form .form-menu li input:valid ~ label {
  color: #9d9d9d;
  transform: translate(-12%, -50%) scale(0.75);
}

.signin-container .card form .form-menu li .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}

.signin-container .card form .form-menu li .bar::before,
.signin-container .card form .form-menu li .bar::after {
  content: '';
  position: absolute;
  background: #213a5c;
  width: 0;
  height: 2px;
  transition: 0.2s ease;
}

.signin-container .card form .form-menu li .bar::before {
  left: 50%;
}

.signin-container .card form .form-menu li input:focus ~ .bar::before,
.signin-container .card form .form-menu li input:focus ~ .bar::after {
  width: 50%;
}

.signin-container .card form .form-menu li .bar::after {
  right: 50%;
}

.signin-container .card form .btn-container {
  text-align: center;
  margin: 0 60px;
}

.signin-container .card form .btn-container .btn {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.3s ease;
}

.signin-container .card form .btn-container .btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #213a5c;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  transition: 0.3s ease;
}

.signin-container .card form .btn-container .btn:focus,
.signin-container .card form .btn-container .btn:active,
.signin-container .card form .btn-container .btn:hover {
  border-color: #213a5c;
}

.signin-container .card form .btn-container .btn:active::before,
.signin-container .card form .btn-container .btn:focus::before {
  opacity: 1;
  transform: scale(10);
}

.signin-container .card form .btn-container .btn span {
  position: relative;
  z-index: 1;
  color: #ddd;
  transition: 0.3s ease;
}

.signin-container .card form .btn-container .btn:focus span,
.signin-container .card form .btn-container .btn:active span,
.signin-container .card form .btn-container .btn:hover span {
  color: #213a5c;
}

.signin-container .card form .btn-container .btn:active span,
.signin-container .card form .btn-container .btn:focus span {
  color: #fff;
}

.signin-container .card form .forgot-password {
  text-decoration: none;
  transition: 0.3s ease;
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  display: block;
}
.signin-container .card form .forgot-password:hover {
  color: #bababa;
}

/* IMG CONTAINER */
.img-container {
  width: 1030px;
  height: 700px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-left: 25px;
}
.img-container img {
  display: block;
  position: absolute;
  width: 100%;
  background-size: cover;
  transition: 0.5s;
  border-radius: 20px;
}
.img-container.active img:nth-child(2) {
  transform: translateX(-50%) scaleX(2);
  opacity: 0;
  filter: blur(10px);
}
.img-container.active img:nth-child(1) {
  transform: translateX(-50%) scaleX(2);
  opacity: 0;
  filter: blur(10px);
}
.img-container.active img:nth-child(1) {
  transform: translateX(0) scaleX(1);
  opacity: 1;
  filter: blur(0);
}

@media all and (max-width: 1549px) {
  .img-container {
    display: none;
  }
}

/* COPYRIGHT */
footer .copyright {
  position: absolute;
  bottom: 45px;
  right: 45px;
  color: #fff;
}
