@font-face {
  font-family: "EliceDigitalBaeum_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #21395b;
  font-family: "EliceDigitalBaeum_Bold";
}

.liststyle {
  display: inline-block;
}

.about-wrap {
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle, rgba(163, 181, 192, 1) 0%, #213a5c 100%);
}
.about-contents {
  width: 1500px;
  background: linear-gradient(45deg, #b5c7d8, #eee, #b5c7d8);
  /* background-color: #b5c7d8; */
  border-radius: 20px;
  margin: 60px auto;
  padding: 20px 0;
}
.about-contents-wrap {
  width: calc(100% - 200px);
  float: right;
  margin-bottom: 100px;
}

.profile-wrap {
  margin: 0 auto;
  height: 500px;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.wrap2 {
  align-items: flex-start;
}
.profile-card {
  border-radius: 10px;
  width: 250px;
  height: 370px;
  background-color: #b5c7d8;
  box-shadow: #b5c7d8 0px 0px 5px;
  transition: 0.3s;
}
.profile-card:hover {
  transform: scale(1.1);
}

.profile-card img {
  display: block;
  margin: 0 auto;
  width: 230px;
  height: 230px;
}
.profile-card .text {
  text-align: center;
  font-size: 20px;
}
.profile-card .text .task {
  color: #21395b;
}
.profile-card .text .name {
  font-size: 35px;
  line-height: 60px;
}

.profile-card .text .one {
  font-size: 15px;
}
